In [1]:
# fuente: /workspace/data/1900_2021_DISASTERS.csv
""" Análisis de datos de estudio 
1. Importar librerías
2. Leer datos /workspace/data/1900_2021_DISASTERS.csvdata/1900_2021_DISASTERS.csv
3. Selector de datos
4. Visualizar datos
5. Análisis de datos
6. Exportar datos
"""

' Análisis de datos de estudio \n1. Importar librerías\n2. Leer datos /workspace/data/1900_2021_DISASTERS.csvdata/1900_2021_DISASTERS.csv\n3. Selector de datos\n4. Visualizar datos\n5. Análisis de datos\n6. Exportar datos\n'

In [2]:
# Importar librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Cargar datos 
df = pd.read_csv('/workspace/data/1900_2021_DISASTERS.csv')
df.head()

,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,...,No Affected,No Homeless,Total Affected,Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,Cabo Verde,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
1,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,India,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
2,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,Guatemala,...,NaN,NaN,NaN,NaN,25000.0,3.350513,NaN,NaN,NaN,NaN
3,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN
4,1902,10,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN

In [4]:
# Resumen de datos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16126 entries, 0 to 16125
Data columns (total 45 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        16126 non-null  int64
 1   Seq                         16126 non-null  int64
 2   Glide                       1581 non-null   object
 3   Disaster Group              16126 non-null  object
 4   Disaster Subgroup           16126 non-null  object
 5   Disaster Type               16126 non-null  object
 6   Disaster Subtype            13016 non-null  object
 7   Disaster Subsubtype         1077 non-null   object
 8   Event Name                  3861 non-null   object
 9   Country                     16126 non-null  object
 10  ISO                         16126 non-null  object
 11  Region                      16126 non-null  object
 12  Continent                   16126 non-null  object
 13  Location                    14334 non-null  object
 14  Origin                      3794 non-null   object
 15  Associated Dis              3348 non-null   object
 16  Associated Dis2             707 non-null    object
 17  OFDA Response               1694 non-null   object
 18  Appeal                      2569 non-null   object
 19  Declaration                 3256 non-null   object
 20  Aid Contribution            677 non-null    float64
 21  Dis Mag Value               4946 non-null   float64
 22  Dis Mag Scale               14936 non-null  object
 23  Latitude                    2729 non-null   object
 24  Longitude                   2732 non-null   object
 25  Local Time                  1103 non-null   object
 26  River Basin                 1287 non-null   object
 27  Start Year                  16126 non-null  int64
 28  Start Month                 15739 non-null  float64
 29  Start Day                   12498 non-null  float64
 30  End Year                    16126 non-null  int64
 31  End Month                   15418 non-null  float64
 32  End Day                     12570 non-null  float64
 33  Total Deaths                11413 non-null  float64
 34  No Injured                  3895 non-null   float64
 35  No Affected                 9220 non-null   float64
 36  No Homeless                 2430 non-null   float64
 37  Total Affected              11617 non-null  float64
 38  Insured Damages ('000 US$)  1096 non-null   float64
 39  Total Damages ('000 US$)    5245 non-null   float64
 40  CPI                         15811 non-null  float64
 41  Adm Level                   7859 non-null   object
 42  Admin1 Code                 4581 non-null   object
 43  Admin2 Code                 3969 non-null   object
 44  Geo Locations               7859 non-null   object
dtypes: float64(14), int64(4), object(27)
memory usage: 5.5+ MB

In [15]:

# Imprimir información del dataframe
print(df.info())
# Desplegar información del dataframe
df.head(10)
df.tail(10)
df.describe()
df.columns
df.shape
df.dtypes
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16126 entries, 0 to 16125
Data columns (total 45 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        16126 non-null  int64
 1   Seq                         16126 non-null  int64
 2   Glide                       16126 non-null  int16
 3   Disaster Group              16126 non-null  int8
 4   Disaster Subgroup           16126 non-null  int8
 5   Disaster Type               16126 non-null  int8
 6   Disaster Subtype            16126 non-null  int8
 7   Disaster Subsubtype         16126 non-null  int8
 8   Event Name                  16126 non-null  int16
 9   Country                     16126 non-null  int16
 10  ISO                         16126 non-null  int16
 11  Region                      16126 non-null  int8
 12  Continent                   16126 non-null  int8
 13  Location                    16126 non-null  int16
 14  Origin                      16126 non-null  int16
 15  Associated Dis              16126 non-null  int8
 16  Associated Dis2             16126 non-null  int8
 17  OFDA Response               16126 non-null  int8
 18  Appeal                      16126 non-null  int8
 19  Declaration                 16126 non-null  int8
 20  Aid Contribution            677 non-null    float64
 21  Dis Mag Value               4946 non-null   float64
 22  Dis Mag Scale               16126 non-null  int8
 23  Latitude                    16126 non-null  int16
 24  Longitude                   16126 non-null  int16
 25  Local Time                  16126 non-null  int16
 26  River Basin                 16126 non-null  int16
 27  Start Year                  16126 non-null  int64
 28  Start Month                 15739 non-null  float64
 29  Start Day                   12498 non-null  float64
 30  End Year                    16126 non-null  int64
 31  End Month                   15418 non-null  float64
 32  End Day                     12570 non-null  float64
 33  Total Deaths                11413 non-null  float64
 34  No Injured                  3895 non-null   float64
 35  No Affected                 9220 non-null   float64
 36  No Homeless                 2430 non-null   float64
 37  Total Affected              11617 non-null  float64
 38  Insured Damages ('000 US$)  1096 non-null   float64
 39  Total Damages ('000 US$)    5245 non-null   float64
 40  CPI                         15811 non-null  float64
 41  Adm Level                   16126 non-null  int8
 42  Admin1 Code                 16126 non-null  int16
 43  Admin2 Code                 16126 non-null  int16
 44  Geo Locations               16126 non-null  int16
dtypes: float64(14), int16(13), int64(4), int8(14)
memory usage: 2.8 MB
None

Year                              0
Seq                               0
Glide                             0
Disaster Group                    0
Disaster Subgroup                 0
Disaster Type                     0
Disaster Subtype                  0
Disaster Subsubtype               0
Event Name                        0
Country                           0
ISO                               0
Region                            0
Continent                         0
Location                          0
Origin                            0
Associated Dis                    0
Associated Dis2                   0
OFDA Response                     0
Appeal                            0
Declaration                       0
Aid Contribution              15449
Dis Mag Value                 11180
Dis Mag Scale                     0
Latitude                          0
Longitude                         0
Local Time                        0
River Basin                       0
Start Year                        0
Start Month                     387
Start Day                      3628
End Year                          0
End Month                       708
End Day                        3556
Total Deaths                   4713
No Injured                    12231
No Affected                    6906
No Homeless                   13696
Total Affected                 4509
Insured Damages ('000 US$)    15030
Total Damages ('000 US$)      10881
CPI                             315
Adm Level                         0
Admin1 Code                       0
Admin2 Code                       0
Geo Locations                     0
dtype: int64

In [9]:
# determinar los datos categóricos
df.describe(include=['O']) # categóricos

,glide,grupo_desastres,subgrupo_desastres,tipo_desastre,subtipo_desastre,subsubtipo_desastre,nombre_evento,pais,iso,region,...,declaracion,escala_magnitud_desastre,latitud,longitud,hora_local,cuenca_del_rio,nivel_administracion,codigo_administracion_1,codigo_administracion_2,ubicacion_geografica
count,1581,16126,16126,16126,13016,1077,3861,16126,16126,16126,...,3256,14936,2729,2732,1103,1287,7859,4581,3969,7859
unique,1086,1,6,15,27,12,1571,228,228,23,...,2,5,2373,2440,778,1215,3,3434,3446,6355
top,CW-2012-000006,Natural,Hydrological,Flood,Riverine flood,Tornado,Cholera,United States of America (the),USA,Southern Asia,...,No,Km2,3.295,95.982,21:48,Mekong river,1,925,13306,Administrative unit not available (Adm1).
freq,29,16126,6327,5551,2660,286,491,1087,1087,2068,...,2342,6792,12,12,7,9,3890,56,9,93

In [13]:
# sumar los datos categóricos
df.describe(include=['O']) # categóricos

,glide,grupo_desastres,subgrupo_desastres,tipo_desastre,subtipo_desastre,subsubtipo_desastre,nombre_evento,pais,iso,region,...,declaracion,escala_magnitud_desastre,latitud,longitud,hora_local,cuenca_del_rio,nivel_administracion,codigo_administracion_1,codigo_administracion_2,ubicacion_geografica
count,1581,16126,16126,16126,13016,1077,3861,16126,16126,16126,...,3256,14936,2729,2732,1103,1287,7859,4581,3969,7859
unique,1086,1,6,15,27,12,1571,228,228,23,...,2,5,2373,2440,778,1215,3,3434,3446,6355
top,CW-2012-000006,Natural,Hydrological,Flood,Riverine flood,Tornado,Cholera,United States of America (the),USA,Southern Asia,...,No,Km2,3.295,95.982,21:48,Mekong river,1,925,13306,Administrative unit not available (Adm1).
freq,29,16126,6327,5551,2660,286,491,1087,1087,2068,...,2342,6792,12,12,7,9,3890,56,9,93

In [14]:


# determinar correlación entre variables
corr = df.corr()
corr

,agnio,secuencia,contribucion_ayuda,valor_magnitud_desastre,agnio_inicio,mes_inicio,dia_inicio,agnio_finalizacion,mes_finalizacion,dia_finalizacion,total_muertes,no_inyectados,no_afectados,no_hogares,total_afectados,Insured Damages ('000 US$),Total Damages ('000 US$),cpi
agnio,1.000000,0.011802,0.118349,0.056199,0.999724,-0.032895,-0.019526,0.999373,-0.017082,0.016727,-0.117860,-0.003441,-0.021759,-0.038698,-0.014280,0.145082,0.074355,0.945053
secuencia,0.011802,1.000000,-0.006386,0.008511,0.012827,-0.002581,0.007922,0.020164,0.086653,0.040413,0.168733,-0.009410,0.128078,-0.025607,0.130315,0.056491,0.008048,0.005563
contribucion_ayuda,0.118349,-0.006386,1.000000,-0.003596,0.118351,-0.004017,-0.039390,0.117615,0.016721,-0.005023,0.005970,0.079737,-0.004114,0.437141,-0.003499,0.107871,-0.003344,0.110886
valor_magnitud_desastre,0.056199,0.008511,-0.003596,1.000000,0.056111,-0.010665,-0.036496,0.056871,-0.013320,0.007803,-0.003088,0.010602,0.090822,0.070127,0.073425,-0.040555,0.004645,0.065609
agnio_inicio,0.999724,0.012827,0.118351,0.056111,1.000000,-0.033375,-0.019699,0.999665,-0.017388,0.016534,-0.117893,-0.003489,-0.021728,-0.038651,-0.014268,0.145082,0.074343,0.944731
mes_inicio,-0.032895,-0.002581,-0.004017,-0.010665,-0.033375,1.000000,0.058998,-0.032571,0.882466,0.020638,0.004097,-0.031773,-0.015004,0.013637,-0.012502,0.051062,-0.004092,-0.016552
dia_inicio,-0.019526,0.007922,-0.039390,-0.036496,-0.019699,0.058998,1.000000,-0.019237,0.045856,0.629634,0.009853,-0.016470,-0.009033,-0.028468,-0.008781,0.020951,0.007396,-0.021815
agnio_finalizacion,0.999373,0.020164,0.117615,0.056871,0.999665,-0.032571,-0.019237,1.000000,-0.018906,0.016574,-0.117369,-0.003256,-0.020510,-0.038681,-0.013225,0.145233,0.074478,0.944480
mes_finalizacion,-0.017082,0.086653,0.016721,-0.013320,-0.017388,0.882466,0.045856,-0.018906,1.000000,0.012659,0.006537,0.000387,0.021094,0.022764,0.019948,0.066655,0.005617,-0.000297
dia_finalizacion,0.016727,0.040413,-0.005023,0.007803,0.016534,0.020638,0.629634,0.016574,0.012659,1.000000,0.003539,0.007662,0.031202,0.025644,0.027170,0.047207,0.017862,0.016787
total_muertes,-0.117860,0.168733,0.005970,-0.003088,-0.117893,0.004097,0.009853,-0.117369,0.006537,0.003539,1.000000,0.245278,0.139083,0.163048,0.136648,0.007100,0.013299,-0.078320
no_inyectados,-0.003441,-0.009410,0.079737,0.010602,-0.003489,-0.031773,-0.016470,-0.003256,0.000387,0.007662,0.245278,1.000000,0.140236,0.414658,0.142829,-0.020696,0.190594,-0.001356
no_afectados,-0.021759,0.128078,-0.004114,0.090822,-0.021728,-0.015004,-0.009033,-0.020510,0.021094,0.031202,0.139083,0.140236,1.000000,0.760027,0.999688,-0.020296,0.114727,-0.020290
no_hogares,-0.038698,-0.025607,0.437141,0.070127,-0.038651,0.013637,-0.028468,-0.038681,0.022764,0.025644,0.163048,0.414658,0.760027,1.000000,0.672107,-0.018494,0.151406,-0.051009
total_afectados,-0.014280,0.130315,-0.003499,0.073425,-0.014268,-0.012502,-0.008781,-0.013225,0.019948,0.027170,0.136648,0.142829,0.999688,0.672107,1.000000,-0.017710,0.113497,-0.015907
Insured Damages ('000 US$),0.145082,0.056491,0.107871,-0.040555,0.145082,0.051062,0.020951,0.145233,0.066655,0.047207,0.007100,-0.020696,-0.020296,-0.018494,-0.017710,1.000000,0.793360,0.148296
Total Damages ('000 US$),0.074355,0.008048,-0.003344,0.004645,0.074343,-0.004092,0.007396,0.074478,0.005617,0.017862,0.013299,0.190594,0.114727,0.151406,0.113497,0.793360,1.000000,0.079005
cpi,0.945053,0.005563,0.110886,0.065609,0.944731,-0.016552,-0.021815,0.944480,-0.000297,0.016787,-0.078320,-0.001356,-0.020290,-0.051009,-0.015907,0.148296,0.079005,1.000000

In [20]:
# cambio tipo de dato de columnas
df['agnio'] = df['agnio'].astype('int64')
df['secuencia'] = df['secuencia'].astype('int64')
df['glide'] = df['glide'].astype('object')
df['valor_magnitud_desastre'] = df['valor_magnitud_desastre'].astype('float64')
df['latitud'] = df['latitud'].astype('object')
df['longitud'] = df['longitud'].astype('object')
df['hora_local'] = df['hora_local'].astype('datetime64[ns]')
df['agnio_inicio'] = df['agnio_inicio'].astype('int64')
df['mes_inicio'] = df['mes_inicio'].astype('int64')
df['dia_inicio'] = df['dia_inicio'].astype('int64')
df['agnio_finalizacion'] = df['agnio_finalizacion'].astype('int64')
df['mes_finalizacion'] = df['mes_finalizacion'].astype('int64')
df['dia_finalizacion'] = df['dia_finalizacion'].astype('int64')
df['total_muertes'] = df['total_muertes'].astype('int64')
df['no_inyectados'] = df['no_inyectados'].astype('int64')
df['no_afectados'] = df['no_afectados'].astype('int64')
df['no_hogares'] = df['no_hogares'].astype('int64')
df['total_afectados'] = df['total_afectados'].astype('int64')
df['danos_asegurados_000_usd'] = df['danos_asegurados_000_usd'].astype('float64')
df['total_danos_000_usd'] = df['total_danos_000_usd'].astype('float64')
df['cpi'] = df['cpi'].astype('float64')

ParserError: month must be in 1..12: 15-11

In [17]:
df.dtypes

agnio                           int64
secuencia                       int64
glide                          object
grupo_desastres                object
subgrupo_desastres             object
tipo_desastre                  object
subtipo_desastre               object
subsubtipo_desastre            object
nombre_evento                  object
pais                           object
iso                            object
region                         object
continente                     object
ubicacion                      object
origen                         object
desastre_asociado              object
desastre_asociado_2            object
respuesta_ofda                 object
reclamo                        object
declaracion                    object
contribucion_ayuda            float64
valor_magnitud_desastre       float64
escala_magnitud_desastre       object
latitud                        object
longitud                       object
hora_local                     object
cuenca_del_rio                 object
agnio_inicio                    int64
mes_inicio                    float64
dia_inicio                    float64
agnio_finalizacion              int64
mes_finalizacion              float64
dia_finalizacion              float64
total_muertes                 float64
no_inyectados                 float64
no_afectados                  float64
no_hogares                    float64
total_afectados               float64
Insured Damages ('000 US$)    float64
Total Damages ('000 US$)      float64
cpi                           float64
nivel_administracion           object
codigo_administracion_1        object
codigo_administracion_2        object
ubicacion_geografica           object
dtype: object